@* @{
    ViewData["Title"] = "DeleteSemester";
}

<br />

<div class="p-2 mb-2 bg-danger text-white">
    <h2>The Semester is Deleted Successfully!</h2>
</div>

<br />
<a asp-controller="Semester" asp-action="Index" class="btn btn-primary" style="width:15%">Go to Semesters</a>


 *@