@{
    ViewData["Title"] = "DeleteSemester";
}

<div class="container mt-5 text-center">
    <div class="alert alert-success py-4" role="alert">
        <h2 class="alert-heading">The Semester was deleted successfully!</h2>
    </div>

    <a asp-controller="Semester" asp-action="Index" class="btn btn-lg btn-primary mt-3" style="width: 200px;">Go to Semesters</a>
</div>