
<div class="container mt-5">
    <div class="alert alert-info text-center p-5 shadow-lg rounded">
        <h1 class="display-6 text-primary">No Courses Assigned Yet</h1>
        <p class="lead">It seems that no courses have been assigned to you at the moment. Please check back later or contact your department for more information.</p>
        <a href="/Enrollments/Index" class="btn btn-primary mt-4">Back</a>
    </div>
</div>