<!-- Successful Enrollment Message -->
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Enrollment Successful!</h4>
    <p>You have successfully enrolled in the selected courses:</p>
</div>


<a class="btn btn-primary" href="/Enrollments/Index">Done</a>