

<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Enrollment Successful!</h4>
    <p>Teachers Assigned To Courses Successfully.</p>
</div>


<a class="btn btn-primary" href="/Enrollments/GetTeachersEnrolledCourses">Done</a>