@{
    ViewData["Title"] = "DeleteCourse";
}

<br />

<div class="p-2 mb-2 bg-danger text-white">
    <h2>The Course is Deleted Successfully!</h2>
</div>

<br />
<a asp-controller="Course" asp-action="Index" class="btn btn-primary" style="width:15%">Go to Courses</a>


