
@model CourseEditVm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Course</h1>
<hr />

<br />

<h3 class="text-danger">Are You Sure you want to delete this Course (@Model.Name) ?!</h3>


<br />

<a asp-controller="Course" asp-action="DeleteCourse" asp-route-Id="@Model.Id" class="btn btn-primary" style="width:10%">Yes</a>
<a asp-controller="Course" asp-action="Index" class="btn btn-primary" style="width:10%">No</a>


