
@{
    ViewData["Title"] = "DeleteRole";
}

<br />

<div class="p-2 mb-2 bg-danger text-white">
    <h2 >The Role is Deleted Successfully!</h2>
</div>

<br />
<a asp-controller="Role" asp-action="Index" class="btn btn-primary" style="width:10%">Go to Roles</a>


