@{
    ViewData["Title"] = "DeleteMaterial";
}

<br />

<div class="p-2 mb-2 bg-danger text-white">
    <h2>The Material is Deleted Successfully!</h2>
</div>

<br />
<a asp-controller="Material" asp-action="Index" class="btn btn-primary" style="width:15%">Go to Material</a>


