@using EduVersity.ViewModels.Material
@model MaterialEditVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Material</h1>
<hr />

<br />

<h3 class="text-danger">Are You Sure you want to delete this Material (@Model.Title) ?!</h3>


<br />

<a asp-controller="Material" asp-action="DeleteMaterial" asp-route-Id="@Model.Id" class="btn btn-primary" style="width:10%">Yes</a>
<a asp-controller="Material" asp-action="Index" class="btn btn-primary" style="width:10%">No</a>


